<div class="col my-2">
    <div *ngIf="!city.cityFound; else cityItem">
        <app-blank-item 
        class = "panel panelbg card" 
        [enterCity]="enterCity" 
        [searchNotFound]="searchNotFound" 
        (searchCity)="onSearchCity($event)"></app-blank-item>
    </div>
    <ng-template #cityItem>
        <app-city-item
        [style.background-image]="bgimg" 
        class="panel panelbg card" 
        [city]="city" 
        (editCity)="onEditCity()" ></app-city-item>
    </ng-template>
</div>

