   
<div *ngIf="this.enterCity; else blankItem">
    <input #cityInput type="text" (keyup.enter)="onEnter(cityInput)" class="form-control text-center" placeholder="Enter city" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    <div *ngIf="this.searchNotFound">
        <p>City not found. Please enter again.</p>
    </div>
</div>
<ng-template #blankItem>
    <div  class="blank h-100 w-100" (click)="onClickBlank()" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)">
        <h5 [ngClass]="visibility" class="text-white">Search</h5>
    </div>
</ng-template>


